.main-navigation {
	a {
		font-family: $font__heading;
		font-weight: 700;
		color: $color__navlink;

		&:hover,
		&:focus,
		&:active {
			background-color: $brand__red;
			outline: 0.5rem solid $brand__red;
		}
	}
}
