#content {
	max-width: 1300px;
	padding: $size__site-padding;
	margin: 0 auto;
}

.content-area {
	float: right;
	margin: 0 0 0 (-$size__site-sidebar);
	width: $size__site-main;
}

.site-main {
	margin: 0 0 0 $size__site-sidebar;
}

.site-content .widget-area {
	overflow: hidden;
	width: $size__site-sidebar;
}

.site-footer {
	clear: both;
	width: $size__site-main;
}

// .no-sidebar .content-area {
// 	float: none;
// 	margin-left: auto;
// 	margin-right: auto;
// }
.no-sidebar .site-main {
	margin: 0;
}
