footer {
  background-color: black;
  color: white;
  display: flex;
  justify-content: space-between;
  padding: 1rem 0;
}

@media screen and (max-width: 768px) {
  footer {
    display: flex;
    flex-direction: column;
    padding: 1rem 2rem;
  }
}
