.sticky {
	display: block;
}

.updated:not(.published) {
	display: none;
}

.entry-content {
	position: relative;
	.usps {
		position: absolute;
		left: 60%;
		top: 10%;
		background-color: white;
		background-color: rgba(255,255,255,0.7);
		font-family: $font__heading;
		padding: 0.5rem;
		border-radius: $border_radius;
		p {
			font-weight: 900;
			color: $brand__red;
			margin: 0.3rem;
		}
	}
	p {
		margin-top: 0;
		text-align: center;
	}
}

.page-links {
	clear: both;
	margin: 0 0 1.5em;
}

.header-image #content {
	padding: 0;
}

.text-content {
	width: 60%;
	background-color: white;
	padding: 1.5rem;
	margin: 6rem auto 7rem;
	border-radius: $border_radius;
	box-shadow: 5px 5px 11px 5px rgba(168,168,168,0.75);
		p {
				text-align: left;
		}
}

.product-content {
	width: 85%;
	background-color: white;
	text-align: center;
	padding: 1rem 1rem 0.5rem;
	margin: 0 auto 2.2rem;
	border-radius: $border_radius;
	box-shadow: 4px 4px 11px 5px rgba(168,168,168,0.75);
	img {
		margin: 0 0.5rem;
	}
}

.product-header {
	position: relative;
}


.intro-text {
	margin: 1rem auto 3rem;
}

.pagination {
	display: block;
	text-align: center;
	font-family: $font__heading;
	font-weight: 700;
	color: black;
	margin-top: -1rem;
	margin-bottom: 2.2rem;
	.page-numbers {
		margin: 0 0.5rem;
			color: black;
	}
	.current {
		font-size: 1.5rem;
		color: $brand__red;
	}
}

.no-sidebar .product-content {
	width: 60%;
 }

 .nomatch {
	 text-align: center;
 }

@media screen and (max-width: 992px) {
	.entry-content .usps {
		left: 55%;
	}
}

@media screen and (max-width: 768px) {
	.entry-content .usps {
		left: 50%;
		top: 8%;
			p {
			font-size: 14px;
		}
	}
	.text-content {
		width: 80%;
		margin: 2rem auto 3rem;
	}
	.product-content {
		margin: 0 auto 1.8rem;
	}
}

@media screen and (max-width: 576px) {

	.entry-content .usps {
		display: none;
	}

	.product-content {
		width: 100%;
	}

	.no-sidebar .product-content {
		width: 100%;
	 }
}
