.filter {
  width: 90%;
  background-color: $color__side-bar;
  color: white;
  padding: 1rem;
  border-radius: $border_radius;
  margin: 1.6rem auto 1rem;

  div {
    margin-top: 0.3rem;

    input {
      margin-right: 0.6rem;
    }
  }
}
